page-general1 {

    ion-content {
        background: whitesmoke !important;
        font-family: 'Athiti', sans-serif;
        font-size: 18px;
    }
    
    h2 {
        color:gray;
        font-family: 'Athiti';
    }
    
    hr {
        color : gray;
    }
    
    p {
        color : red;
        font-family: 'Athiti';
        font-size: 20px;
    }
    }
    