page-about {
    
    h1 {
        font-family: 'Athiti';
    }

    h2 {
        font-family: 'Athiti';
    }
    
    h3 {
        font-family: 'Athiti';
    }

    p {
        font-family: 'Athiti';
    }
}
