page-emergency {
    .background{
        background-image: url('../assets/imgs/BG.jpg');
    }

        //จัดรูปแบบ content ทั้งหมด
        .scroll-content{
            align-content: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
}
